html{
    -webkit-appearance: none;
    -moz-appearance: none;
}
body{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 2fr 5fr 5fr 1fr;
    grid-template-areas: 
        "header header header"
        ". . ." 
        ". content ."
        ". . ."
        "footer footer footer";
    font-size: small;

}

#header{
    grid-area: header;
    display: grid;
    grid-template-areas:
    "left center right";
    font-size: small;
}
#leftheader{
    grid-area: left;
    align-self: center;
    justify-self: start;
    margin-left: 30px;
}
#leftheader a{
    margin: 10px;
}
#rightheader{
    grid-area: right;
    align-self: center;
    justify-self: end;
    margin-right: 30px;
}
#rightheader a{
    margin: 10px;
}
#main{

    grid-area: content;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas: 
        ". googlelogo googlelogo ."
        ". searchField searchField ."
        ". buttonDiv buttonDiv ."
        ". newsLink newsLink .";

}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#googleHomeLogo{
    
    grid-area: googlelogo;
    margin: 5px;
}
#SearchField{
    
    width: 500px;
    height: 50px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #ccc5c5;
    grid-area: searchField;
}
#SearchField:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    
    width: 500px;
    height: 50px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: #ccc5c5;
    grid-area: searchField;
}
#buttonContainer{
    grid-area: buttonDiv;
}
.button{
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    font-size: small;
    color: gray;

}
.button:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #ccc5c5;
}
#SearchButton{

    width: 150px;
    background-color: #F2F2F2;
    margin-right: 5px;
}
#FeelingLuckyButton{

    width: 175px;
    background-color: #F2F2F2;
    margin-left: 5px;
}
#NewsLink{
    grid-area: newsLink;
    font-size: medium;
}
#footer{
    grid-area: footer;
    background-color: #F2F2F2;
    border-top-style: solid;
    border-top-color: #ccc5c5;
    padding: 20px 0px;
    display: grid;
    grid-template-areas: "left center right";
}
#left-footer{
    grid-area: left;
    align-self: center;
    justify-self: start;
    margin-left: 20px;
}
#left-footer a{
    margin: 20px;
}
#right-footer{
    grid-area: right;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}
#right-footer a{
    margin: 20px;
}
